<body>
    <div class="container">
        <h2>{{action}} </h2>
        <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Username" class="col-md-8">
                        <input kendoTextBox formControlName="username" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'username') && formDir.submitted">
                    Username is required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Identification Card" class="col-md-8">
                        <input kendoTextBox formControlName="identificationCard" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'identificationCard') && formDir.submitted">
                    Identification Card is required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Password" class="col-md-8">
                        <input kendoTextBox type="password" formControlName="password" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'password') && formDir.submitted">
                    Password is required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Interests" class="col-md-8">
                        <input kendoTextBox formControlName="interests" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'interests') && formDir.submitted">
                    Interests are required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Email" class="col-md-8">
                        <input kendoTextBox type="email" formControlName="email" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'email') && formDir.submitted">
                    Email is required.
                </span>
                <span class="text-danger" *ngIf="form.hasError('email', 'email') && formDir.submitted">
                    Email format required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Province" class="col-md-8">
                        <kendo-dropdownlist formControlName="province" (valueChange)="provinceSelectOnChange($event)"
                            [valuePrimitive]="true" [data]="provinces" [textField]="'name'" [valueField]="'idProvince'">
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'province') && formDir.submitted">
                    Province is required
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Canton" class="col-md-8">
                        <kendo-dropdownlist formControlName="canton" (valueChange)="cantonSelectOnChange($event)"
                            [valuePrimitive]="true" [data]="cantons" [disabled]="isCantonEnable == false"
                            [textField]="'name'" [valueField]="'idCanton'">
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'canton') && formDir.submitted">
                    Canton is required
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="District" class="col-md-8">
                        <kendo-dropdownlist formControlName="district" [data]="districts" [valuePrimitive]="true"
                            [disabled]="isDistrictEnable == false" [textField]="'name'" [valueField]="'idDistrict'">
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'district') && formDir.submitted">
                    District is required
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-label class="k-checkbox-label" [for]="cbxIsAsip" text="Is ASIP?"></kendo-label>
                    <input type="checkbox" #cbxIsAsip kendoCheckBox formControlName="isAsip" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8">
                    <button kendoButton [look]="'flat'" [icon]="'check'" *ngIf="action == 'ADD' || action == 'UPDATE'"
                        type="submit">Save</button>
                    <button kendoButton [look]="'flat'" [icon]="'close'" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</body>