
<div class="container">

  <h2>Course List</h2>

  <kendo-grid [kendoGridBinding]="gridData" [filterable]="true" [groupable]="true" [sortable]="true" 
      [resizable]="true" 
      [pageable]="true">
      <ng-template kendoGridToolbarTemplate>
          <button kendoButton [look]="'outline'" [icon]="'add'" (click)="add()">Add Course</button>
      </ng-template>
      <kendo-grid-column field="name" title="Name" [width]="100"></kendo-grid-column>
      <kendo-grid-column field="semester" title="Semester" [width]="100"></kendo-grid-column>
      <kendo-grid-column field="description" title="Description" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="state" title="State" [width]="100"></kendo-grid-column>
      <kendo-grid-column field="creationDate" title="CreationDate" [width]="100"></kendo-grid-column>
      <kendo-grid-command-column title="Actions" [width]="300">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <button kendoButton [look]="'flat'" [icon]="'edit'" (click)="router.navigate(['/update-course', dataItem.courseId]);">Edit</button>
              <button kendoButton [look]="'flat'" [icon]="'delete'" (click)="delete(dataItem.courseId)">Delete</button>
          </ng-template>
      </kendo-grid-command-column>
  </kendo-grid>
</div>
