<div class="container">

    <h2>Students List</h2>

    <div>
        <button (click)="add()">
            Add
        </button>
    </div>

    <br>

    <kendo-grid [kendoGridBinding]="gridData" 
    [filterable]="true" 
    [groupable]="true" 
    [sortable]="true"
    [pageSize]="10" 
    [pageable]="true" 
    [height]="510">
        <kendo-grid-column field="userProfile.username" title="Name"></kendo-grid-column>
        <kendo-grid-column field="identificationCard" title="Identification Card"></kendo-grid-column>
        <kendo-grid-column field="userProfile.email" title="Email"></kendo-grid-column>
        <kendo-grid-column field="userProfile.province.nameProvince" title="Province"></kendo-grid-column>        
    </kendo-grid>
</div>