<body>
    <div class="container">
        <h2>{{action}} </h2>
        <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
            <div class="form-group row">
                <label class=" control-label col-md-12" for="idNews">Id News</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" formControlName="idNews" placeholder="Id News">
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'idNews') && formDir.submitted">
                    Id News is required.
                </span>
            </div>
            <div class="form-group row">
                <label class=" control-label col-md-12" for="idUserProfile">Id User Profile</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" formControlName="idUserProfile" placeholder="Id User Profile">
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'idUserProfile') && formDir.submitted">
                    Id User Profile is required.
                </span>
            </div>
            <div class="form-group row">
                <label class=" control-label col-md-12" for="commentary">Commentary</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" formControlName="commentary"
                        placeholder="Commentary">
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'commentary') && formDir.submitted">
                   Commentary is required.
                </span>
            </div>


            <div class="form-group row">
                <div class="col-md-4">
                    <button *ngIf="action == 'ADD' || action == 'UPDATE'" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-secondary col-xs-offset-1" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</body>

