
<body>
    <div class="container">
        <h2>Course Add</h2>
        <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Name" class="col-md-8">
                        <input kendoTextBox formControlName="name" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'name') && formDir.submitted">
                    Name is required.
                  </span>
                  <span class="text-danger" *ngIf="form.hasError('pattern', 'name') && formDir.submitted">
                    Name no admit symbols.
                  </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Semester" class="col-md-8">
                        <input kendoTextBox formControlName="semester" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'semester') && formDir.submitted">
                    Semester is required.
                </span>
                <span class="text-danger" *ngIf="form.hasError('pattern', 'semester') && formDir.submitted">
                    At least one digit required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Description" class="col-md-8">
                        <input kendoTextBox formControlName="description" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'description') && formDir.submitted">
                    Description is required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Professor" class="col-md-8">
                        <kendo-dropdownlist formControlName="professor"
                            [valuePrimitive]="true" [data]="professors" [textField]="'userProfile.username'" [valueField]="'userProfile.idUserProfile'">
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'professor') && formDir.submitted">
                    Province is required
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Image" class="col-md-8">
                        <input kendoTextBox formControlName="image" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'image') && formDir.submitted">
                    Image is required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Semester" class="col-md-8">
                        <input kendoTextBox type="email" formControlName="state" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'state') && formDir.submitted">
                    State is required.
                </span>
                <span class="text-danger" *ngIf="form.hasError('pattern', 'state') && formDir.submitted">
                    At least one digit required.
                </span>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                    <kendo-floatinglabel text="Creation Date" class="col-md-8">
                        <input kendoTextBox type="email" formControlName="creationDate" />
                    </kendo-floatinglabel>
                </div>
                <span class="text-danger" *ngIf="form.hasError('required', 'creationDate') && formDir.submitted">
                    Creation Date is required.
                </span>
            </div>
            
            <div class="form-group row">
                <div class="col-md-8">
                    <button kendoButton [look]="'flat'" [icon]="'check'" type="submit">Save</button>
                    <button kendoButton [look]="'flat'" [icon]="'close'" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</body>
